@media (max-width: 700px) {
	// Nav
	#navbar {
		.container {
			flex-direction: column;
		}
		ul {
			li {
				margin-left: 0;
				padding: 20px;
			}
		}
	} //End #navbar

	// Showcase
	#showcase {
		padding-bottom: 20px;
		.container {
			flex-direction: column;
			.showcase-text {
				padding-top: 0;
				text-align: center;
				h1,
				p {
					padding-right: 0;
				}
			}
			.showcase-form {
				margin-top: 20px;
			}
		} //End #showcase .container
	} //End #showcase
}
